* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

a:hover {
    color: #ddd;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0f1110;
    height: 10vh;
    width: 100%;
    cursor: pointer;
}

.search-bar {
    display: flex;
}

input {
    border: none;
    font-size: medium;
    height: 40px;
    width: 515px;
    padding-left: 8px;
}

.select-button {
    border: none;
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    background-color: rgb(241, 242, 254);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 40px;
    width: 50px;
    border-radius: 0 5px 5px 0;
    background-color: rgb(254, 188, 109);
    cursor: pointer;
}

.sign-in p {
    font-size: small;
}

.orders p {
    font-size: small;
}

.cart {
    padding-block: 5px;
}

.cart .material-symbols-outlined {
    font-size: 45px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22303d;
    height: 7vh;
    width: 100%;
    padding-inline: 30px;
}

.menu-items {
    display: flex;
    gap: 10px;
    align-items: center;
}

#amazon-logo {
    height: 12vh;
    width: 10vw;
}

#address {
    color: white;
    font-size: medium;
}

.location {
    display: flex;
    flex-direction: column;
}

#deliver {
    font-size: small;
    text-decoration: none;
    color: lightgray;
    margin-left: 25px;
}

header a {
    text-decoration: none;
    color: white;
}

.amazon-banner {
    height: 65vh;
    background-image: url("./amazon_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.products-container {
    display: grid;
    height: 480px;
    width: 100%;
    gap: 45px;
    grid-template-columns: repeat(4, 280px);
    background-color: #f3f3f3;
    padding: 40px;
}

.product {
    width: 300px;
    height: 380px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 20px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.7s ease-in-out;
}

.product a {
    text-decoration: none;
    color: blue;
}

.product:hover a {
    color: #c7511f;
    text-decoration: underline;
  }

.product:hover{
    transform: scale(1.1);
  }

.product img {
    height: 250px;
    width: 235px;
    object-fit: cover;
}

.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37475a;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    height: 60px;
  }
  
  .footer-items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    background: #232f3e;
  }
  
  .footer-items h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin: 20px 0 10px 0;
  }
  
  .footer-items ul {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .footer-items li a {
    color: #ddd;
    font-size: 0.875rem;
  }
  
  .footer-items li a:hover {
    text-decoration: underline;
  }

  footer a {
    text-decoration: none;
  }